#nav{
    width: 300px;
    background:seashell;
}

.title{
    font-size: 18px;
    font-weight: bold;
    text-indent: 1em;
    line-height: 35px;
    /* 颜色, 图片, 图片位置, 平铺方式 我这里没有美术素材算了*/
    background: red url("../img/4117655.png") 370px 20px no-repeat;
}
/*ul li */
/*
list-style:
none 去掉原点
circle 空心圆
decimal 数字
square 正方形
*/
ul{
    background: seashell;
}

ul li{
    height: 30px;
    list-style: none;
    text-indent: 1em;
    background-image: url(../img/4117655.png);
    background-repeat: no-repeat;
    background-position: 150px 2px;
}

a{
    text-decoration: none;
    font-size: 14px;
    color: slategrey;
}

a:hover{
    color: turquoise;
    text-decoration: underline;
}



